<div class="container p-4 text-center">
    <h3 class="text-white">Bienvenido</h3>
    <div class="row">
        <div class="col-md-4 p-4 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <h4>Portal Docente</h4>
                </div>
                <div class="card-body">
                    <img src="/img/docente.jpg" class="card-img-top   mx-auto rounded-circle w-70 m-2 p-2 text-center" alt="">
                    <hr>
                    <a href="/signin" class="btn btn-primary">Iniciar sesión</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Portal Estudiante</h4>
                </div>
                <div class="card-body">
                    <img src="/img/estudiante.jpg" class="card-img-top rounded-circle  mx-auto m-2 p-2 text-center" alt="">
                    <hr>
                    <a href="/reunion/estudiante" class="btn btn-primary">Acceder a mis clases</a>
                </div>
            </div>
        </div>
    </div>
</div>